body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.app {
  width: 750px;
}

h2 {
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
}

.grid-container {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
}

.grid {
  display: grid;
  /* grid-template-columns: 120px repeat(10, 35px); */
  grid-template-columns: 120px repeat(10, 35px) 50px;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.header {
  margin-bottom: 18px;
}

.task-header {
  font-weight: 600;
}

.date-header {
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
}

.task-cell {
  font-size: 14px;
}

.checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid #475569;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkbox:hover {
  border-color: #94a3b8;
}

.checked {
  background: #22c55e;
  border-color: #22c55e;
}

.add-section {
  margin-top: 20px;
}

.add-btn {
  background: #3b82f6;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  background: #2563eb;
}

.input-row {
  display: flex;
  gap: 10px;
}

input {
  padding: 6px 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav button {
  background: #334155;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.nav button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.range {
  font-weight: 500;
}

.today-header {
  color: #22c55e;
  font-weight: 600;
  position: relative;
}

/* .today-dot { */
/*   width: 5px; */
/*   height: 5px; */
/*   background: #22c55e; */
/*   border-radius: 50%; */
/*   margin: 4px auto 0; */
/* } */

/* .today-cell { */
/*   border-color: #22c55e; */
/* } */

.missed {
  background: #dc2626;
  border-color: #dc2626;
}

.percent-header,
.percent-cell {
  width: 50px;
  text-align: center;
  font-weight: 600;
}

.start-date {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.start-date input {
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
}

.summary-row {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #334155;
}

.percent-label {
  font-weight: 600;
  color: #94a3b8;
}
